html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: rgba(0,0,0,.87);
  background: #f2f2f2;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

.caption {
  font-size: 12px;
  letter-spacing: .020em;
}
